<!doctype html>
<html>
  <head>
    <title>About <%=recipeAppName%></title>
    <link rel="stylesheet"  type="text/css" href="main.css" />
  </head>
  <body>
    <h1>About <%=recipeAppName%></h1>
    <p>Web application to help people manage their diet by displaying nutritional facts 
      such as, carbs, fat, protein, salt, and sugar in a recipe based 
      on food ingredients in the recipe.
    </p>
    <p>I am the developer of this app, Ivan Georgre Kuruvila</p>
    <p>I am currently a final year student at Goldsmiths, University of London</p>
    <p><a href="./">Back to home</a></p>
  </body>
</html>