<!doctype html>
<html>

<head>
  <title>Welcome to <%=recipeAppName%>
  </title>
  <link rel="stylesheet" type="text/css" href="main.css" />
</head>

<body>
  <h1>Welcome to <%=recipeAppName%>
  </h1>
  <ul>
    <li><a href="about">About <%=recipeAppName%></a></li>
    <li><a href="addfood">Add a food item</a></li>
    <li><a href="search">Search for food items</a></li>
    <li><a href="list">List food items</a></li>
    <li><a href="update">Update a food item</a></li>
    <li><a href="api">Api</a></li>
    <li><a href="register">Register a account</a></li>
    <li><a href="listusers">List all users</a></li>
    <li><a href="login">Log in </a></li>
    <li><a href="logout">Log out </a></li>
  </ul>
</body>

</html>